{
    "presets": ["es2015", "stage-2"], // npm install --save-dev babel-preset-stage-2
    "plugins": [    
        ["transform-runtime", {
            "helpers": true, // defaults to true
            "polyfill": true, // defaults to true
            "regenerator": true, // defaults to true
            "moduleName": "babel-runtime" // defaults to "babel-runtime"
         }]
    ], // npm install --save-dev babel-plugin-transform-runtime
    "comments": false
}