* {
    box-sizing: border-box;

    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: $base-font-size;
}

body {
    font-family: $font-stack;
    font-size: rem-calc(15px);
}

a {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.dove-docs {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    user-select: none;
}