.page__toolbar--aiexifcool-repair{
    .ui-confirm {
        background-color: #2b2b2b;
        font-size: rem-calc(13px);
        border-radius: rem-calc(4px);

        .ui-modal__header {
            background-color: $md-grey-600;
        }
        .ui-modal__container {
            background-color: #2b2b2b;
            color: $md-grey-400;
        }
    }
}


.page__examples--aiexifcool-repair{
    margin: auto;
    height: 75vh;
    overflow-y: auto;
    user-select: auto;

    .ui-alert--type-success {
        .ui-alert__body {
            background-color: #2b2b2b;
            color: $md-grey-400;
            font-size: rem-calc(13px);
            border-radius: rem-calc(4px);
        }
    }

    .ui-toolbar__top {
        display: flex;
        .ui-toolbar__top__fileName{
            margin-left: rem-calc(4px);
        }

        .ui-toolbar__top__fileSize{
            margin-left: rem-calc(4px);
            font-size: rem-calc(11px);
            color: $md-grey-700;
        }

        .ui-toolbar__top__taskMessage{
            margin-left: rem-calc(8px);
            color: $md-grey-600;
        }

        .task-item-has-error{
            color: $md-deep-orange-a700;
        }

    }

    .ui-toolbar__body{
        .ui-toolbar__body__filePath{
            padding: rem-calc(4px);
        }
    }


}


.page__footbar--aiexifcool-repair{
    background-color: #2f0303;
    border-radius:8px;
    margin-top: rem-calc(4px);
    padding: rem-calc(4px);
    span {
        color: $md-grey-300;
        font-size: rem-calc(10px);
        padding:  rem-calc(4px);
    }

}

.transferNormal {
    background-color: #081838;
}

.fixWorking {
    background-color: #083a0c;
}