.dove-docs-mobile-sidebar__backdrop {
    background-color: rgba(black, 0.2);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-index-nav-drawer - 1;
}

.dove-docs-sidebar {
    background-color: $sider-background-color;
    box-shadow: 0 2px 5px 0 rgba(black, 0.16), 0 2px 10px 0 rgba(black, 0.12);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh;
    width: rem-calc(296px);
    z-index: 1;
    &.is-mobile {
        max-width: rem-calc(280px);
        z-index: $z-index-nav-drawer;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.dove-docs-sidebar__scrollable {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid $md-grey-900;
}

.dove-docs-sidebar__header {
    background-color: $toolbar-color;
    color: $toolbar__header-color;
    font-size: 1.5rem;
    height: rem-calc(64px);
    padding: rem-calc(16px);
    
    border-bottom: $toolbar-border;
}

.dove-docs-sidebar__header-product-name {
    background-color: $toolbar-color;
    color: $toolbar__header-color;
    font-size: 1.5rem;
    height: rem-calc(64px);
    padding: rem-calc(12px);
    
}

.dove-docs-sidebar__header-version {
    color: $toolbar__header-color;
    display: inline-block;
    font-size: 0.9rem;
    opacity: 0.7;
    vertical-align: super;
    &:hover,
    &:focus {
        opacity: 1;
    }
}

.dove-docs-sidebar__header-github-link {
    color: white;
    float: right;
    line-height: 1;
    opacity: 0.8;
    &:hover,
    &:focus {
        opacity: 1;
    }
}

.dove-docs-sidebar__version-select {
    padding: rem-calc(16px);
    padding-top: rem-calc(8px);
    .ui-select {
        margin: 0;
    }
    .ui-select-option {
        min-height: rem-calc(40px);
    }
}

.dove-docs-sidebar__menu,
.dove-docs-sidebar__menu-section-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dove-docs-sidebar__menu-section-header {
    color: $sider-section-font-color;
    font-size: rem-calc(13px);
    padding: 0 rem-calc(8px);
}

//--------------------------------------------------------------------
//处理侧边栏的样式问题
.ui-collapsible{
    background-color: $sider-background-color !important;

    .ui-collapsible__header{
        background-color: $sider-background-color !important;
        padding: rem-calc(12px 6px) !important;
        padding: 0 !important;
        font-size: rem-calc(13px);
    }

    .ui-collapsible__header-icon {
        color: $sider-section-font-color;
    }

    .ui-collapsible__body{
        border: 0px;
        padding: 0 !important;
    }
}
//----------------------------------------------------------------------
.dove-docs-sidebar__menu-li {
    .dove-docs-sidebar__menu-item {
        align-items: center;
        color: $sider-menu-item-font-color;
        font-size: rem-calc(13px);
        display: flex;
        padding: rem-calc(8px);
        padding-left: rem-calc(40px);

        &.is-active {
            color: $link-color;
            transform: scale(1.1);
            background: url(/images/menu-active.png) no-repeat scroll 96% transparent!important;
        }

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: #242425;
        }
        .ui-icon {
            font-size: rem-calc(13px);
            margin-left: rem-calc(2px);
            padding-right: rem-calc(12px);
        }
    }

    .dove-docs-sidebar__menu-item__caption{
        padding-left: rem-calc(12px);
    }
}


.transition-fade-enter-active,
.transition-fade-leave-active {
    transition: opacity 0.2s ease-out;
}

.transition-fade-enter,
.transition-fade-leave-active {
    opacity: 0;
}

.transition-slide-enter-active,
.transition-slide-leave-active {
    transition: transform 0.2s ease-out;
}

.transition-slide-enter,
.transition-slide-leave-active {
    transform: translateX(-280px);
}

@media screen and (max-width: $mobile-breakpoint) {
    .dove-docs-sidebar.is-desktop {
        display: none;
    }
}